*.iml
.gradle
/local.properties
/.idea
/.vscode
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
node_modules
/stub/src/main/java/L*
/app/src/main/java/app/revanced/integrations/twitter/test*
